"*":
  "atom-ide-outline": {}
  "atom-ide-ui":
    "atom-ide-code-format": {}
  "atom-package-deps":
    ignored: [
      "linter-luacheck"
      "minimap-linter"
      "linter-node-markdownlint"
      "linter-ui-default"
    ]
  "atom-translator":
    lang: "ru"
  "auto-fold":
    defaultMarkerRegexes: "/(^|\\n)local/ /(^|\\n)function/ /(^|\\n)for/ /(^|\\n)do/ /(^|\\n)while/"
  "autocomplete-lua":
    luaVersion: "luajit-2.0"
  "autocomplete-plus":
    minimumWordLength: 2
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    customFileTypes:
      "source.git-config": [
        "gitignore"
      ]
      "source.ini": [
        "conf"
      ]
      "source.json": [
        "luacompleterc"
        "code-snippets"
        "markdownlintrc"
      ]
      "source.lua": [
        "busted"
        "ld"
      ]
    disabledPackages: [
      "spell-check"
      "autosave"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: [
      "open-terminal-here"
      "snake-case"
      "pinned-tabs"
    ]
    packagesWithSnippetsDisabled: [
      "language-lua"
      "language-todo"
    ]
    telemetryConsent: "no"
    themes: [
      "textadept-light-ui"
      "textadept-light-syntax"
    ]
  "custom-window-title":
    template: "<%= relativeFilePath %>"
  editor:
    fontSize: 16
    invisibles:
      eol: " "
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: false
  "exception-reporting":
    userId: "ccbaa294-3dd3-4f20-abba-e723b116c60d"
  github:
    remoteFetchProtocol: "ssh"
    sourceRemoteName: "main"
  "iv-terminal":
    shellSettings:
      shellPath: "/bin/fish"
    terminalDirectory: "project-folder"
  linter:
    lintOnChange: false
    lintPreviewTabs: false
  "linter-luacheck": {}
  "linter-markdown":
    detectIgnore: false
    presetConsistentWithoutConfig: false
    presetRecommendedWithoutConfig: false
    presetStyleGuideWithoutConfig: true
  "linter-markdownlint":
    executablePath: "markdownlint"
    severity: "warning"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    panelHeight: 108
  "local-config":
    applyOnActivation: true
  "local-settings": {}
  "love-ide": {}
  "love-launcher":
    lovepath: "love"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-quick-highlight": true
      "minimap-quick-highlightDecorationsZIndex": 0
      pigments: false
      pigmentsDecorationsZIndex: 0
  "nyan-indent":
    color: "blue"
  "open-terminal-here": {}
  "pinned-tabs":
    animated: false
    pinButton: true
    visualstudio: {}
  "quick-highlight":
    decorate: "box"
  "seti-icons":
    noColor: true
  "terminal-tab":
    shellSettings: {}
  "textadept-light-ui":
    tabCloseButton: "Left"
  todo: {}
  "todo-show":
    findTheseTodos: [
      "TODO"
      "FIXME"
      "WARNING"
      "CHANGED"
      "NOTE"
      "IDEA"
      "dbg"
    ]
    ignoreThesePaths: [
      "node_modules"
      "*.md"
      "debugger"
      "globals"
    ]
    showInTable: [
      "Text"
      "Type"
    ]
    sortAscending: false
    sortBy: "Type"
    statusBarIndicator: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: true
  "tree-view-auto-fold": {}
  "tree-view-sort":
    type: 2
  welcome:
    showOnStartup: false
